table {
  width: 100%;
  min-height: 50px;
  font-size: 0.8em;
  border-spacing: 0px;
  margin-bottom: 100px;
  font-family: helvetica, sans-serif;
  table-layout: fixed;
}

.normal-navbar {
  width: 40px;
}

.ninedots {
  padding-top: 5px;
  padding-left: 15px;
  width: 30px;
}

.user-logo {
  padding-top: 5px;
  padding-right: 10px;
  width: 40px;
}

.blank-space {
  width: 80%;
}

.glogo {
  min-width: 320px;
  min-height: 148px;
  width: 30%;
  margin: 10px 10px 10px 38%;
}

input {
  min-width: 300px;
  border-radius: 50px;
  min-height: 40px;
  font-size: 1.25em;
  padding-left: 48px;
  margin-bottom: 40px;
  color: rgb(117, 117, 117);
  border: 1px solid rgba(120, 120, 120, 0.36);
  width: 40%;
  margin-left: 28%;
  background-image: url("../images/searchButton.jpg");
  background-size: 40px 100%;
  background-repeat: no-repeat;
}

:enabled {
  color: rgb(0, 0, 0);
}

.g-search {
  margin-left: 36%;
  border-radius: 5px;
  height: 36px;
  width: 12%;
  font-size: 0.85em;
  color: rgb(117, 117, 117);
  background-color: #f2f2f2;
}
.rand-button {
  margin-left: 10px;
  height: 36px;
  border-radius: 5px;
  width: 12%;
  font-size: 0.85em;
  color: rgb(117, 117, 117);
  background-color: #f2f2f2;
}
